Node-red/Telegram_chatbot.json
[{"id":"0f878789f06582b5","type":"tab","label":"Exercise 8-0","disabled":false,"info":"","env":[]},{"id":"e807c082b0b6d000","type":"chatbot-telegram-receive","z":"0f878789f06582b5","bot":"e145681d1fc7e143","botProduction":"","x":130,"y":140,"wires":[["5184967ff9bf82a8","ae42b865aecb52b5"]]},{"id":"479846ca84a0d730","type":"chatbot-telegram-send","z":"0f878789f06582b5","bot":"e145681d1fc7e143","botProduction":"","track":false,"passThrough":false,"errorOutput":false,"outputs":0,"x":470,"y":300,"wires":[]},{"id":"5184967ff9bf82a8","type":"debug","z":"0f878789f06582b5","name":"Show Incoming Msg!","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":520,"y":180,"wires":[]},{"id":"ae42b865aecb52b5","type":"function","z":"0f878789f06582b5","name":"Compute Answer","func":"if (msg.payload.content==\"What's your name?\") {\n    msg.payload.content = \"I am the NSDS Telegram Bot!\";\n} else {\n    msg.payload.content = \"I don't get what you're asking...\";\n}\ndelete msg.ts;\ndelete msg.transport;\nmsg.payload.inbound = false;\nmsg.payload.fallback = null;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":250,"y":240,"wires":[["479846ca84a0d730"]]},{"id":"e145681d1fc7e143","type":"chatbot-telegram-node","botname":"Node-RED Lab","usernames":"","polling":"1000","store":"","log":"","debug":false,"skipMediaFiles":false,"webHook":"","connectMode":"polling","storeMessages":true,"enableMissionControl":false,"inspectMessages":true,"chatbotId":""}]